.content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
}


html{
    background-color: #F5EEF8  ;
}

body,
html{
    margin:0;
    padding:0;
}

h1{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: #610B21;
    font-weight: bold;
    font-size: 40px;
}

.imgConteiner{
    position: relative;
    
}

.demo {
    position: absolute;
    text-align:center;
}

.numberCircle {
    position: absolute;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background: rgb(221, 3, 3);
    border: 2px solid #666;
    color: #666;
    text-align: center;
    z-index: 3;
    
}

#blah{
    position: absolute;
}